#shellcheck disable=SC2148,SC2155
export GIT_TOKEN=$(cat ~/.github_token)
export GITHUB_TOKEN=$(cat ~/.github_token)
export SOPS_AGE_KEY_FILE=~/.config/sops/age/keys.txt

# This is needed for pwsh to work for me to point to my local version of libssl
# You may need to change this to point to your local version of libssl or comment out entirely
export CLR_OPENSSL_VERSION_OVERRIDE=1.1
