*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.terraform
terraform.*.backup
.gen
terraform.tfstate.d
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
venv
.venv
.kube/
kubeconfig
.kubeconfig
*.tfstate
terraform.d
.terraform.d
